.Intro{
    display: flex;
    flex: 1;
}
.Text{
    text-align: left;
    margin-left: 100px;
    margin-top: 150px;
    font-family: 'M PLUS 1', sans-serif;  
    flex-direction: column;
    flex: 1;
}
.Title{
    font-family: 'Bebas Neue', cursive;
    vertical-align: middle;
    color: white;
    font-size: 60px;
}
.Description{
    font-family: 'Bebas Neue', cursive;
    vertical-align: middle;
    color: #EABE3F;
    font-size: 45px;
}
.Image{
    margin-top:10px;
    margin-right: 100px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    
}
.textDescription{
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    vertical-align: middle;
    color: white;
    font-size: 25px;
}
.Background{
    margin-right: 10px;
}