.navbar {

    display: flex;
    flex-direction: row;
  }
  
  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: #EABE3F;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
  }
  .prueba{
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: inherit;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    background-color: #EABE3F;
    border-radius: 6px;
    border: 2px solid #000000;
  }
  